@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-border {
  border: 2px solid #34fcb4;
  color: white;
}

.neon-shadow {
  box-shadow: 4px 4px 0 #34fcb4;
}

.neon-hover::after {
  content: "";
  position: absolute;
  border: 2px solid #34fcb4;
  transition: transform 0.3s ease-in-out;
  color: black;
}

.neon-hover:hover {
  background-color: #34fcb4;
  color: black;
  box-shadow: none;
}

.white-border {
  border: 2px solid white;
  color: white;
  background-color: black;
}

.white-shadow {
  box-shadow: 4px 4px 0 white;
}

.white-hover::after {
  content: "";
  position: absolute;
  border: 2px solid white;
  transition: transform 0.3s ease-in-out;
  color: black;
}

.white-hover:hover {
  background-color: white;
  color: black;
  box-shadow: none;
}
